#index {
  width: 70%;
  margin: auto;
}
#index ul li {
  border-bottom: 1px solid #d0d0d0;
}
#index ul li a {
  border-radius: 10px;
  color: #DFAC2C;
}
#index ul li .description {
  color: black;
}
#index ul li:last-of-type {
  border-bottom: none;
}

@media (min-width: 600px) and (max-width: 900px) {
  #index {
    width: 90%;
  }
}
@media (min-width: 0px) and (max-width: 599px) {
  #index {
    width: 90%;
  }
}
